* {
  box-sizing: border-box;
  margin: 0px;
}
html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper__header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid purple; */
  /* background-color: gray; */
}
.wrapper__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.albumWrapper {
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  /* background-color: purple; */
}
.album {
  /* background-color: red; */
  width: 120px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.albumtitle {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;

  color: #0f465e;
}
.albumsubtitle {
  font-family: "Malgun Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: #999999;
}

.wrapper__body {
  width: 100%;
  height: 130px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 13px;
  line-height: 17px;
  text-align: justify;
  color: #55b2d4;
  margin-right: 5px;
  font-weight: 700;
}
.subtitle {
  font-size: 8px;
  line-height: 8px;
  /* identical to box height */

  text-align: justify;
  letter-spacing: -0.08em;

  color: #000000;
}

.tableTitle,
.tablePost {
  /* background-color: red; */
  height: 20px;
  width: 100%;
  border-bottom: 1px dashed #999999;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.tableTitle {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background-color: #eeeeee;
}

.postDetail {
  /* width: 6px; */
  height: 100%;
  /* margin: 3px; */
  margin-left: 17px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.postNumber {
  width: 20px;
  margin-left: 24px;
  margin-right: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: #000000;
}

.postTitle {
  width: 106px;
  margin-right: 108px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  color: #0f465e;
}
.postartist {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #0f465e;
}

#title__postNumber {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;

  color: #999999;
}
#title__postTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;

  color: #999999;
}
#title__postArtist {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;

  color: #999999;
}
